/* Mobile Optimization */

@media screen and (max-width: 768px) {
   #currentRacePicker {
      font-size: 16px;
   }

   x-hbox {
      flex-wrap: wrap;
      padding-top: 0.2rem;
   }

   x-delta-bar {
      padding-bottom: 0.2rem;
   }

   x-unit-tile:hover {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      transition: none;
   }
}
