html,
body {
   background-color: #04080b;
   color: #e7eff6;
   font-family: Oswald, ui-sans-serif, system-ui, -apple-system, Segoe UI, sans-serif;
}

fieldset {
   border: none;
}

x-units {
   display: flex;
   flex-wrap: wrap;
   min-height: 70px;
}

img {
   user-select: none;
   -webkit-user-drag: none;
}

#mainTitle {
   background-image: linear-gradient(to bottom, #fff, #85afd0);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   -webkit-text-fill-color: transparent;
}

x-unit-tile {
   cursor: pointer;
   padding: 2px;
}

label {
   padding: 5px;
}

#requiredResPro {
   border: 2px solid #036062;
   border-radius: 5px;
   box-shadow: #e7eff6 0 0 10px;
   padding: 5px;
   gap: 10px;
}

#unitFrame {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   max-width: 528px;
}

#currentRacePicker {
   color: #04080b;
   background-color: #e7eff6;
   border: 2px solid #036062;
   border-radius: 5px;
   box-shadow: #e7eff6 0 0 10px;
   padding: 5px;
}

#resetButton {
   cursor: pointer;
   background-color: #036062;
   border: 2px solid #036062;
   border-radius: 5px;
   box-shadow: #e7eff6 0 0 10px;
   color: #e7eff6;
   padding: 5px;
   transition: all 0.3s;
}

#resetButton:hover {
   background-color: #e7eff6;
   border: 2px solid #e7eff6;
   color: #036062;
}
