html, body {
    background-color: #000;
    color: #fff;
}

fieldset {
    border: none;
}

x-units {
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}